.btn {
  display: flex;
  width: max-content;
  padding: 7px 18px 8px;
  background: linear-gradient(90deg, #854399, $main-color);
  border: none;
  border-radius: 14px;
  font-size: 12px;
  color: #fff;
  font-family: $ff-OpenSans-Bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: poiner;
  box-shadow:
    15px 15px 15px 5px rgba(177, 69, 153, 0.075),
    -15px -15px 15px 5px rgba(177, 69, 153, 0.075),
    15px -15px 15px 5px rgba(177, 69, 153, 0.075),
    -15px 15px 15px 5px rgba(177, 69, 153, 0.075);

  &:hover {
    box-shadow:
      15px 15px 15px 5px rgba(255, 255, 255, 0.05),
      -15px -15px 15px 5px rgba(255, 255, 255, 0.05),
      15px -15px 15px 5px rgba(255, 255, 255, 0.05),
      -15px 15px 15px 5px rgba(255, 255, 255, 0.05);
    background: linear-gradient(90deg, $main-color, #854399, $main-color);
    transform: scale(1.15);
    transition: all 0.35s;
    animation: bgMove 3s ease infinite;
    background-size: 400% 400%;

    @keyframes bgMove {
      0% {
        background-position: 0% 82%
      };
      50%  {
        background-position: 100% 19%
      };
      100% {
        background-position: 0% 82%
      };
    }
  }
}
