.page {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    overflow-x: hidden;
  }

  &__inner {
    width: $screen-xs;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: $screen-sm) {

  .page {

    &__inner {
      width: $screen-sm;
    }
  }
}

@media screen and (min-width: $screen-lg) {

  .page {

    &__inner {
      width: $screen-lg;
    }
  }
}
