.start {
  width: 100%;
  padding: 80px $gap 120px;

  &__subhead {
    @include text-subhead;
  }

  &__title {
    @include text-title;
    margin: 20px 0 50px;
  }

  &__text {
    @include text-basic;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: $screen-sm) {

  .start {
    padding: 125px $gap 120px 0;

    &__text-wrap {
      padding-left: calc(#{col-px(1, $screen-sm)} + #{$gap});
    }

    &__text {
      width: 175px;
    }
  }
}

@media screen and (min-width: $screen-lg) {

  .start {
    display: flex;
    flex-direction: row;
    width: $screen-lg;
    margin: 0 auto;
    padding: 185px $gap 120px;

    &__text-wrap {
      width: col-px(6, $screen-lg);
      padding: 50px $gap 0 calc(#{col-px(2, $screen-lg)} + #{$gap});
    }
  }
}
