//- Стандартный шаблон страницы
include ../pug/mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title MTrading
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    .top-section
      .container
        .row
          .col-lg-4.offset-lg-2
            header
              logo.logo
                a.logo__link(href='/')
                  img.logo__img(src='img/logo.png', alt='')
        .row
          .col-md-4.col-lg-5.offset-lg-2
            h1.title.title--head #[strong Get $10,000] on demo trading account
            p.text.text--white Test Forex trading in the real market environment
            a.btn.btn-default(href='#', role='button') GET STARTED

    .free-simulator
      .container
        .row
          .col-md-6.col-lg-4.offset-lg-2
            p.subhead For Beginner Traders
            h2.title #[strong Free] trading simulator
            p.text Are you new to trading financial markets? – Sign up with MTrading and get from $5,000 on your free demo account to practice Forex, and CFDs trading strategies in real market conditions!
            a.btn.btn-default(href='#', role='button') Open Demo Account
          .col-md-6.col-lg-6
            .free-simulator__img-wrap
              img(src='img/simul.png', alt='')

    .benefits
      .container.benefits__wrap
        .row
          h2.title.title--center Demo Account #[strong benefits]
        .row
          .col-xs-12.col-sm-4.offset-md-2.col-md-2.benefits__item
            .benefits__img-wrap
              img(src='img/01.png', alt='')
            p Real trading #[br]experience without risk
          .col-xs-12.col-sm-4.col-md-4.benefits__item
            .benefits__img-wrap
              img(src='img/03.png', alt='')
            p Forex and CFDs trading #[br]in real market conditions
          .col-xs-12.col-sm-4.col-md-2.benefits__item
            .benefits__img-wrap
              img(src='img/05.png', alt='')
            p Professional #[br]individual support
          .col-xs-12.col-sm-4.offset-md-2.col-md-2.benefits__item
            .benefits__img-wrap
              img(src='img/02.png', alt='')
            p Based on MetaTrader 4 #[br]trading platform
          .col-xs-12.col-sm-4.col-md-4.benefits__item
            .benefits__img-wrap
              img(src='img/04.png', alt='')
            p All trading #[br]strategies allowed
          .col-xs-12.col-sm-4.col-md-2.benefits__item
            .benefits__img-wrap
              img(src='img/06.png', alt='')
            p Unlimited demo balance #[br]starting at $5,000

    .start
      .container
        .row
          .col-sm-12.col-md-6.offset-md-0.col-lg-4.offset-lg-2
            p.subhead Gain Trading Experience
            h2.title Start in less#[br]than #[strong 5 minutes]
            p.text Gain the experience and enter the market with confidence
            a.btn.btn-default(href='#', role='button') Open Demo Account
          .col-sm-12.col-md-6.col-lg-6
            .start__gallery
              .start__gallery-item
                img(src='img/slide01.png', alt='')
              .start__gallery-item
                img(src='img/', alt='')
              .start__gallery-item
                img(src='img/', alt='')
              .start__gallery-item
                img(src='img/', alt='')


    //- .page__inner
    //-   .page__content

    //-     block header
    //-       p Шапка

    //-     block content
    //-       p Cодержимое

    //-   .page__footer-wrapper
    //-     block footer
    //-       p Подвал

    //- block page-bottom
    //-   script(src='js/vendors.min.js')
    //-   script(src='js/script.min.js')
