//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    title Home
    link(rel='stylesheet', href='css/style.css')
    script.
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    .jumbotron.top-section
      header.row
        logo.logo
          a.logo__link(href='/')
            img.logo__img(src='img/logo.png', alt='')
      .demo-account.row
        h1.title #[em Get $10,000] on demo trading account
        p.text.text--white Test Forex trading in the real market environment
        button.btn.btn-default GET STARTED

      .container.free-simulator
        .row
          .col-md-6.col-md-offset-2
            p.subhead For Beginner Traders
            h1.title #[em Get $10,000] on demo trading account
            p.text Are you new to trading financial markets? – Sign up with MTrading and get from $5,000 on your free demo account to practice Forex, and CFDs trading strategies in real market conditions!
            button.btn.btn-default Open Demo Account
      .container.demo-account
        .row



    //- .page__inner
    //-   .page__content

    //-     block header
    //-       p Шапка

    //-     block content
    //-       p Cодержимое

    //-   .page__footer-wrapper
    //-     block footer
    //-       p Подвал

    //- block page-bottom
    //-   script(src='js/vendors.min.js')
    //-   script(src='js/script.min.js')
