@mixin text-subhead {
  margin-bottom: 10px;
  font-size: 14px;
  color: $main-color-2;
  font-family: $ff-OpenSans-SemiBold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin text-title {
  font-family: $ff-GothamPro-Light;
  font-size: 42px;
  line-height: 1.12em;
  color: $gray-dark;

  strong {
    font-family: $ff-GothamPro-Bold;
  }
}

@mixin text-basic {
  font-size: 12px;
  line-height: 1.25em;
  font-family: $ff-OpenSans;
  color: $gray-dark;
}
