body {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 37px;
  font-family: $ff-GothamPro-Light;
  font-size: 42px;
  line-height: 47px;

  strong {
    font-family: $ff-GothamPro-Bold;
  }

  &--center {
    width: 100%;
    text-align: center;
  }

  &--head {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -2px;

    strong {
      display: block;
      color: #fff;
    }
  }
}

.subhead {
  margin-bottom: 10px;
  font-size: 14px;
  color: $main-color-2;
  font-family: $ff-OpenSans-SemiBold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text {
  margin-bottom: 42px;
  font-size: 14px;
  font-family: $ff-OpenSans;
  color: $text-color;

  &--white {
    color: #fff;
  }
}

.btn {
  display: inline-block;
  padding: 5px 18px;
  background: linear-gradient(90deg, #854399, $main-color);
  border: none;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
  font-family: $ff-OpenSans-Bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: poiner;
  box-shadow:
    15px 15px 15px 5px rgba(177, 69, 153, 0.075),
    -15px -15px 15px 5px rgba(177, 69, 153, 0.075),
    15px -15px 15px 5px rgba(177, 69, 153, 0.075),
    -15px 15px 15px 5px rgba(177, 69, 153, 0.075);

  &:hover {
    box-shadow: none;
    animation: bgMove 2s ease infinite;
    background-size: 400% 400%;
    @keyframes bgMove {
      0%    { background-position: 0% 82% }
      50%   { background-position: 100% 19% }
      100%  { background-position: 0% 82% }
    }
  }
}

.logo {
  display: block;
  margin-bottom: 128px;

  &:hover {
    opacity: 0.5;
    animation: opacityAnim 0.25s ease-in 1;
    @keyframes opacityAnim {
      0%    { opacity: 1 }
      50%   { opacity: 0.75 }
      100%  { opacity: 0.5 }
    }
  }
}

.top-section {
  position: relative;
  width: 100%;
  padding: 72px 0 200px 0;
  background:
    url('../img/bg-top-cow.png') no-repeat,
    url('../img/bg-top-man.png') no-repeat,
    url('../img/bg-top-00.png') no-repeat;
  background-position:
    bottom left 80%,
    bottom left 80%,
    top center;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(0deg, #10181f, #76346c);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
    @keyframes bgMove {
      0%    { background-position: 0% 82% }
      50%   { background-position: 100% 19% }
      100%  { background-position: 0% 82% }
    }

  }
}

.free-simulator {
  margin-top: 160px;


  &__img-wrap {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 22px;
    background: url('../img/bg-sim-03.png') no-repeat;
    background-position: bottom right;

    img {
      display: block;
      align-self: center;
    }
  }
}

.benefits {
  width: 100%;
  margin: 27px 0 55px 0;

  &__wrap {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    background:
      url('../img/bg-ben-01.png') no-repeat,
      url('../img/bg-ben-04.png') no-repeat,;
    background-position:
      top left,
      bottom left
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 45px;
    text-align: center;
    font-family: $ff-OpenSans;
    color: $text-color;
    font-size: 14px;
  }

  &__img-wrap {
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }
}


.start {
  padding: 124px 0 180px 0;
  width: 100%;
  background-color: #fefcfd;

  &__gallery {
    position: relative;

    &-wrap {
      position: relative;
      z-index: 3;
      min-height: 390px;
      background: url('../img/start-frame.png') top 3px left no-repeat;
    }
  }

  &__slides {
    position: absolute;
    z-index: 12;
    top: 22px;
    left: 117px;
    width: 180px;
    height: 365px;
  }

  &__number {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 60px;
    left: 280px;
    top: 15px;
    font-size: 52px;
    color: $main-color;
    font-family: $ff-GothamPro-Bold;
  }

}

