@media (max-width: $screen-xs) {

  .logo {
    margin-bottom: 60px;
  }

  .top-section {
    padding: 30px 0 120px 0;
    background:
      url('../img/bg-top-cow.png') no-repeat,
      url('../img/bg-top-00.png') no-repeat;
    background-position:
      bottom right 5%,
      top center;
  }

  .free-simulator {
    margin-top: 50px;

    &__img-wrap {

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .benefits {

    &__item {
      padding-top: 25px;
      padding-bottom: 20px;
    }
  }

  .start {
    padding: 50px 0 50px 0;

    &__gallery {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 50px;

      &-wrap {
        position: relative;
        width: 190px;
        padding: 24px 0 0 5px;
        background: url('../img/start-frame-xxs.png') top center no-repeat;
      }
    }

    &__slides {
      top: 16px;
      left: calc(50% - 90px);
    }

    &__number {
      left: calc(50% + 75px);
    }
  }
}

@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  .top-section {
    background:
      url('../img/bg-top-cow.png') no-repeat,
      url('../img/bg-top-00.png') no-repeat;
    background-position:
      bottom right 5%,
      top center;
  }

  .free-simulator {
    margin-top: 50px;

   }

  .benefits {

    &__item {
      padding-top: 25px;
      padding-bottom: 20px;
    }
  }

  .start {
    padding: 50px 0 50px 0;

    &__gallery {
      margin-top: 50px;
      align-self: center;

      &-wrap {
        padding: 24px 0 0 190px;
        background: url('../img/start-frame-xs.png') top center no-repeat;
      }
    }

    &__slides {
      top: 16px;
      left: 194px;
    }

    &__number {
      left: 357px;
    }
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {

  .top-section {
    background:
      url('../img/bg-top-cow.png') no-repeat,
      url('../img/bg-top-man.png') no-repeat,
      url('../img/bg-top-00.png') no-repeat;
    background-position:
      bottom right 5%,
      bottom right 5%,
      top center;
  }

  .free-simulator {
    margin-top: 100px;
  }

  .start {

    &__gallery {
      align-self: center;

      &-wrap {
      padding: 24px 0 0 334px;
      background: url('../img/start-frame-xs.png') top center no-repeat;
      }
    }

    &__slides {
      top: 16px;
      left: 338px;
    }

    &__number {
      left: 500px;
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {


}

@media (min-width: $screen-lg) {

  .free-simulator {
    background:
        url('../img/bg-sim-02.png') no-repeat,
        url('../img/bg-sim-01.png') no-repeat;
    background-position:
      top 57px right 90px,
      top left;
  }

  .benefits {
    background:
      url('../img/bg-ben-02.png') no-repeat,
      url('../img/bg-ben-03.png') no-repeat;
    background-position:
      top 170px left 100%,
      bottom 170px left 50px;

    &__wrap {
      background:
        url('../img/bg-ben-01.png') no-repeat,
        url('../img/bg-ben-04.png') no-repeat,;
      background-position:
        top left $ind-1,
        bottom left
    }
  }
}
