// =================================================================
//                       СТИЛИ СЕТКИ
// =================================================================

// -----------------------------
// Переменные сетки
// -----------------------------
// $screen-xs:           480px;
// $screen-sm:           768px;
// $screen-md:           992px;
// $screen-lg:           1200px;
// $screen-xl:           1920px;
// $screen-xxl:          2340px;


// $gap:                 15px;
// $col:                 12;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-self: center;
  padding: 0 $gap;
}

[class*='col-'] {
  width: 100%;
  margin: 0 (#{$gap} * -1);
}

@media (max-width: $screen-xs) {

  .container {
    width: calc(100% - (#{$gap} * 2));
  }

  .hidden-xs {
    display: none;
  }

  [class*='offset-'] {
    margin-left: 0;
  }
}

@media (min-width: $screen-xs) {

  .container {
    width: $screen-xs;
  }

  .hidden-xs {
    display: none;
  }

  @for $i from $col through 1 {
    .col-xs-#{$i} {
      width: calc(100% * (#{$i}/#{$col}));
    }
  }

  @for $i from $col through 0 {
    .offset-xs-#{$i} {
      margin-left: calc(100% * (#{$i}/#{$col}));
    }
  }
}

@media (min-width: $screen-sm) {

  .container {
    width: $screen-sm;
  }

  .hidden-sm {
    display: none;
  }

  @for $i from $col through 1 {
    .col-sm-#{$i} {
      width: calc(100% * (#{$i}/#{$col}));
    }
  }

  @for $i from $col through 0 {
    .offset-sm-#{$i} {
      margin-left: calc(100% * (#{$i}/#{$col}));
    }
  }
}

@media (min-width: $screen-md) {

  .container {
    width: $screen-md;
  }

  .hidden-md {
    display: none;
  }

  @for $i from $col through 1 {
    .col-md-#{$i} {
      width: calc(100% * (#{$i}/#{$col}));
    }
  }

  @for $i from $col through 0 {
    .offset-md-#{$i} {
      margin-left: calc(100% * (#{$i}/#{$col}));
    }
  }
}

@media (min-width: $screen-lg) {

  .container {
    width: $screen-lg;
  }

  .hidden-lg {
    display: none;
  }

  @for $i from $col through 1 {
    .col-lg-#{$i} {
      width: calc(100% * (#{$i}/#{$col}));
    }
  }

  @for $i from $col through 0 {
    .offset-lg-#{$i} {
      margin-left: calc(100% * (#{$i}/#{$col}));
    }
  }
}
